*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
body{
    background-color: #F1CC5D;
    background-image:linear-gradient(to bottom,rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYfuPU3PsOB2xRBT7cTMF0gS5MNO7lU5O31A&usqp=CAU) ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: initial;
    background-position:center ;
    height: 80vh;
    color: white;
    text-align: center;
    size: 0px;
    
}
.header{
    position: sticky;
    top: 0px;
    left: auto;
    width: 100%;
    padding: 78px;
    background: rgb(121, 92, 5);
    justify-content: space-evenly;
}
.logo{
    position:fixed;
    left: 0%;
    text-align: center;
    size: 0px;
}
ul {
    display: inline-flex;
}
ul li{
    text-decoration: none;
    list-style: none;
}
ul li a {
    margin: 10px;
    background: rgb(121, 92, 5);
    color: white;
    padding: 10px;
    margin: 0%; }
   
.p{
    text-align: center;
    margin: 30px;
}
img{
   grid-row: 50px;
   grid-column: span;
   border-radius: 0%;
   width: 20rem;
  
}
.container add{
    font-size: 10rem;
    padding: 50px;
    font-weight: large;
   
}
.scrubs{
    text-align: center;
    font-size: medium;
}
.home{
    text-align: center;
    margin: 20rem;
    font-size: large;
    content: none;
    display: inline;
    
}
.add{
    display: inline;
    padding: 20px;
    margin: 2rem;

}

